{{- $self := .self -}}
{{- if .Params.recaptcha -}}
  {{- .page_scratch.Add "js" (dict "url" "https://www.google.com/recaptcha/api.js") -}}
{{- end }}
{{- .page_scratch.Add "js" (dict "file" "syna-contact.js") -}}
{{- $bg := .self.Scratch.Get "bg" }}
{{- $default_field_error := .Params.message.field_error -}}

{{ "<!-- Contact -->" | safeHTML }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "Params" .Params) -}}
  {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
  <div class="row">
    <div class="col-12">
      <form
        class="contact position-relative"
        method="POST"
        name="{{- .Params.form_name | default (printf "contact-form-%s" .Name) }}"
        id="{{- .Params.form_name | default (printf "contact-form-%s" .Name) }}"
        {{- if .Params.netlify -}}
          {{- safeHTMLAttr (print " data-has-netlify=\"true\" netlify") -}}
        {{- else -}}
          {{- safeHTMLAttr (printf " action=\"%s\"" (.Params.post_url | default (printf "https://formspree.io/%s" .Params.email))) -}}
        {{- end -}}
        {{- if and (isset .Params "email") -}}
          {{- safeHTMLAttr (print " data-has-formspree=\"true\"") -}}
        {{- end }}>
          <div class="row py-3 should-fade">
              {{ range $field := .Params.fields }}
              <div class="col-md-6">
                <div class="form-group">
                  {{ if eq $field.type "textarea" }} 
                  <textarea
                    id="{{ $field.name }}"
                    name="{{ $field.name }}"
                    class="form-control text-dark"
                    type="text"
                    data-validation
                    data-validation-error-msg="{{ $field.error | default $default_field_error }}"
                    placeholder="{{ with $field.label }}{{ . | markdownify }}{{ end }}"
                    rows="{{ $field.rows | default 4 }}"
                    {{ if $field.required }}required{{ end }}
                  ></textarea>
                {{ else }} 
                  <input 
                    id="{{ $field.name }}"
                    name="{{ $field.name }}"
                    class="form-control"
                    type="{{ $field.type }}"
                    data-validation="{{ $field.validation_type }}"
                    {{ if eq $field.validation_type "regex" }}data-validation-regex="{{ $field.validation_regex }}"{{ end }}
                    data-validation-error-msg="{{ $field.error | default $default_field_error }}"
                    placeholder="{{ with $field.label }}{{ . | markdownify }}{{ end }}"
                    {{ if $field.required }}required{{ end }}
                    >
                {{ end }}
                  <div class="px-2" data-error id="{{ $field.name }}-error"></div>
                </div>
              </div>
              {{ end }}
            <div class="col-lg-12 text-center">
              <div class="captcha-error alert alert-danger d-none" id="captcha-error">
                  {{- i18n "contact.defaultCaptchaError" }} {{ .Params.email }}.
              </div>
              <div class="generic-error alert alert-danger d-none" id="generic-error">
                {{- with .Params.message.error -}}
                  {{- . | markdownify -}}
                {{- else -}}
                  {{- i18n "contact.defaultGenericError" }} {{ .Params.email -}}.
                {{- end }}
              </div>
              <noscript>
                <div class="alert alert-danger py-2" id="js-error">
                  {{- i18n "contact.defaultJsError" }} {{ .Params.email }}.
                </div>
              </noscript>
              {{- if and .Params.recaptcha (not .Params.netlify) }}
                <div class="g-recaptcha-container">
                  <span class="g-recaptcha-filler"></span>
                  <button
                    class="g-recaptcha btn btn-primary submit-btn"
                    type="submit"
                    data-sitekey="{{ .Params.recaptcha.sitekey }}"
                    data-size="invisible"
                    data-badge="inline"
                    data-callback="onContactCaptcha"
                    disabled>
                    {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                  </button>
                  <span class="filler"></span>
                </div>
              {{- else }}
                {{- if .Params.netlify }}
                  <div netlify-recaptcha></div>
                {{- end }}
                <button
                  class="btn submit-btn
                    {{- if eq $bg "primary" -}}
                      {{- printf " btn-%s" "dark" -}}
                    {{- else -}}
                      {{- printf " btn-%s" "primary" -}}
                    {{- end -}}
                  "
                  type="submit">
                  {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                </button>
              {{- end }}
            </div>
          </div>
          {{- range .Params.fields_hidden -}}
            {{- if eq .name "site" }}
              <input type="hidden" name="{{ .name }}" value="{{ $.root.Page.Permalink }}"/>
            {{- else if eq .name "page" }}
              <input type="hidden" name="{{ .name }}" value="{{ $.root.Page.RelPermalink }}"/>
            {{- else }}
              <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
            {{- end -}}
          {{- end -}}
          <div class="generic-success mb-0 mb-3 hidden" id="generic-success">
            <div class="alert alert-success">
              {{- with .Params.message.success -}}
                {{- . | markdownify -}}
              {{- else -}}
                {{- i18n "contact.defaultGenericSuccess" -}}
              {{- end }}
            </div>
            <span class="btn btn-primary" data-action="return-form">Return</span>
          </div>
      </form>
    </div>
  </div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
